{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
the {body} of the default.hbs template, which contains our header/footer. }}

<article>
{{#post}}
<div class="info group">
  <div class="published-on"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time> </div>
</div><!-- info-group -->

<header class="article-header">
  <h1><a href="{{url}}">{{{title}}}</a></h1>
</header>

<div class="article-wrap">
  {{content}}
</div><!-- article-wrap -->

{{/post}}
</article>

